.starting {
  margin: 3rem auto;
  padding-left: 80px;
}

.starting h4 {
  font-size: 5rem;
  color: azure;
}

.starting hr {
  margin-right: 40px;
  margin-top: 20px;
}

.Nav {
  overflow: hidden;
  background-color: #333;
  opacity: 0.7;
  margin-right: 40px;
}

.Button {
  margin-top: 60px;
  font-family: sans-serif;
  font-size: 15px;
  background: #22a4cf;
  color: white;
  border: white 3px solid;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 10px;
}
