.Table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 96.6%;
  margin-bottom: 40px;
}

.Table th{
  text-align: left;
  padding: 8px;
}

.Table td{
  text-align: left;
  padding: 8px;
}

.Table tr:nth-child(even){
  background-color: lightgrey;
}

.Table tr:nth-child(odd){
  background-color: white;
}