.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid #111;
  margin: 10px 20px;
  width: 300px;
  padding-bottom: 40px;
}

.cardBody {
  text-align: center;
}

.cardTittle {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.cardDesc {
  text-align: center;
  margin-bottom: 50px;
}

.a{
    text-decoration: none  !important;
}

/* .img{
    width: 100%;
} */

.cardButton {
  text-align: center;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: rgb(40, 89, 187);
  width: 100%;
  color: white;
}
