.starting {
  margin: 3rem auto;
  padding-left: 80px;
}

.starting h1 {
  font-size: 5rem;
}

.starting p{
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
}

.starting hr{
  margin-right: 60px;
}